* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    min-height: 100vh;
}

.postit {
    position: relative;
    display: inline-block;
    background-color: yellow;
    margin: 10px;
    width: 18%;
    aspect-ratio: 1/1;
}

#header {
    background: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#header h1 {
    position: absolute;
    left: 50%;
    margin-left: -100.19px;
    display: inline;
    line-height: 80px;
}

#bdParent {
    margin: 50px;
    aspect-ratio: 4/3;
}

#board {
    display: inline-block;
    width: 100%;
    aspect-ratio: 16/9;
    background: white;
    border: 1px solid lightgray;
    filter: drop-shadow(0px 0px 6px lightgray);
}