body {
    width: 700px;
    margin: auto;
    background-color: whitesmoke;
}

body > div {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px 10px;
    border-bottom: 1px solid LightGray;
}

li:last-child {
    border-bottom: none;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

input[type="image"] {
    float: right;
    margin-top: 3px;
    margin-right: 50px
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:not(#incompleteTasksOnly) {
    float: right;
}

button {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
}

.due-date {
    font-size: 12px;
    color: gray;
    margin-left: 15px;
}

#taskCount {
    float: right;
}